@import "../../styles/main.scss";

.pageNotFound-illustartor {
  @include set-block-image(32rem, 40rem);
}

.pageNotFound-cont {
  height: 100vh;
  background: $videos-grid-bg;
  @include set-flex;
  flex-direction: column;
}

.home-link {
  padding: 1rem 1.6rem;
  background: $youtube-red;
  background: $black;
  color: white;
  border: none;
  border-radius: 2.4rem;
  cursor: pointer;
}
