@import "../../styles/main.scss";

.pageNotFound-cont {
  height: 100vh;
  background: var(--videos-grid-bg);
  @include set-flex;
  flex-direction: column;

  .pageNotFound-illustartor {
    @include set-block-image(28rem, 30rem);
    margin-bottom: -4rem;

    @media only screen and (max-width: 500px) {
      @include set-block-image(25rem, 25rem);
    }
  }

  .home-link {
    padding: 1rem 1.6rem;
    background: var(--invert-primary);
    color: var(--root-primary);
    border: none;
    border-radius: 2.4rem;
    cursor: pointer;
    font-size: 1.4rem;

    &:hover {
      opacity: 0.8;
    }
  }

  .error-desc,
  .page-description {
    color: var(--invert-primary);
  }

  .error-desc {
    font-size: 2.4rem;
    text-align: center;
  }
  .page-description {
    margin: 1rem 0 2rem;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.4rem;
  }
}
