@import "../../styles/main.scss";

.hero-logo {
  @include set-block-image(5rem, 19rem);
}

.sign-in-card {
  border-radius: 5px;
  background: #7147cd;
  color: white;
  //
  background: -moz-linear-gradient(top, #3700b3 0%, #0f0033 100%);
  background: -webkit-linear-gradient(top, #3700b3 0%, #0f0033 100%);
  background: linear-gradient(to bottom, #3700b3 0%, #0f0033 100%);
  //

  //
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
  //
  max-width: 30rem;
  padding: 3rem;
  min-height: 45rem;
  margin: 6.3rem auto;
  @include set-flex(column, space-evenly, center);

  & > * {
    margin-bottom: 2rem;
  }

  p {
    text-align: center;
  }

  hr {
    width: 100%;
  }

  @include set-desktop-screen {
    max-width: 38rem;
  }

  @include set-large-screen {
    max-width: 37rem;
  }
  @include set-medium-screen {
    max-width: 30rem;
  }

  @media screen and (max-width: 405px) {
    max-width: 27rem;
  }

  @include set-very-small-screen {
    width: 24rem;
    min-height: 35rem;

    .hero-logo {
      @include set-block-image(3rem, 15rem);
    }
  }
}
