*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  background-color: #e5f6fc;
  box-sizing: border-box;
}
