// === COLORS ===
$white: #fff;
$black: #000;
$almost-black: #212121;
$dark-google-blue: #006bbb;
$light-blue-bg: #30a0e0;
$light-sky-blue: #e5f6fc;
$videos-grid-bg: #f9f9f9;
$light-gray: #f2f2f2;
$dark-gray: #555454;
$thumbnail-bg: #ddd;
$youtube-red: #ff0000;
$input-focus-border: #1c62b9;
$skeleton-bg: $thumbnail-bg;
$light-text-color: #555;
$light-suggestion-text: #b9b7ae;

// === DARK COLORS ===
$dark-header-bg: #202020;
$dark-input-bg: #121212;
$dark-input-border: #303030;
$dark-search-btn-bg: #323232;
$dark-video-grid-bg: #181818;
$dark-channel-text: #aaa;
$dark-text-color: #aaa;
$dark-thumbnail-bg: #525252;
$dark-skeleton-bg: #2b2b2b;
$dark-border: #2a2a2a;
