@import "../../styles/main.scss";

.video-section-cont.search-results {
  @include set-flex(column, center, flex-start);
  padding: 2.5rem 0;

  .video-container {
    width: 100%;
    @include set-flex(row, flex-start, flex-start);
  }
}

.main-videos-cont {
  padding: 10rem 0;
  min-height: 100vh;

  .search-term-desc {
    font-size: 1.7rem;
    margin-left: 4rem;
    color: var(--invert-primary);

    @include set-small-screen {
      margin: 0 1.5rem;
    }
  }
}

.empty-results {
  font-size: 1.6rem;
  text-align: center;
  align-self: center;
  text-transform: uppercase;
  margin-top: -5rem;
  color: var(--invert-primary);
}

.empty-results-logo {
  @include set-block-image(37rem, 37rem);
  align-self: center;

  @include set-medium-screen {
    @include set-block-image(30rem, 28rem);
  }

  @include set-small-screen {
    @include set-block-image(25rem, 20rem);
  }
}

.home-screen-cont.dark {
  .empty-results-logo {
    content: url("../../assets/Empty-pana_dark.svg");
  }
}

// === SKELETON STYLING ===
.search-results-video-container-skeleton {
  padding: 10rem 0;
  @include set-flex(column, center, flex-start);
}

.skeleton-search-results {
  @include set-flex(row, flex-start, flex-start);
  margin: 3rem 2.2rem;
  width: 90%;

  .skeleton.thumbnail {
    @include set-block-image(20rem, 35rem);
    margin-right: 2rem;
  }

  .skeleton-video-author-details {
    width: 45%;
    .skeleton.meta-text {
      margin-top: 1rem;
    }

    .skeleton-channel-details {
      @include set-flex(row, flex-start);
      .skeleton.text {
        width: 25%;
        margin-left: 1rem;
      }
    }

    .skeleton.text {
      width: 80%;
    }
  }

  @include set-medium-screen {
    @include set-flex(column, flex-start, flex-start);

    .skeleton-video-author-details {
      position: relative;
      margin-top: 1.1rem;
    }

    .skeleton-channel-details .skeleton.avatar {
      @include set-block-image(4.5rem, 4.5rem);
      position: absolute;
      top: 1%;
      left: 1%;
    }

    .skeleton.title,
    .skeleton.meta-text {
      margin-left: 6rem;
    }

    .skeleton.title {
      width: 15rem;
    }

    .skeleton.meta-text {
      width: 5rem;
    }

    .skeleton.text {
      display: none;
    }

    .skeleton-channel-details .skeleton.text {
      display: block;
      margin-left: 6rem !important;
      width: 10rem !important;
    }
  }

  @media only screen and (max-width: 402px) {
    max-width: 25rem;
    margin: 3rem 3.2rem;

    .skeleton.thumbnail {
      @include set-block-image(15rem, 29rem);
    }
  }

  @media only screen and (max-width: 350px) {
    .skeleton.thumbnail {
      @include set-block-image(15rem, 25rem);
    }
  }
}
