@import "../styles/main.scss";

.error-compo {
  background: var(--videos-grid-bg);
  color: var(--invert-primary);

  min-height: 100vh;
}

.error-msg-cont {
  text-align: center;
  font-size: 1.2rem;

  padding: 3rem;
  padding-top: 15rem;
  margin: 0 auto;

  max-width: 50rem;
  @include set-flex(column, center);

  a {
    color: var(--youtube-red);
  }

  @media only screen and (max-width: 475px) {
    padding-top: 15rem;
  }
}

.error-info-text {
  margin-top: 1.2rem;

  font-size: 1.6rem;
  font-weight: bold;

  @media only screen and (max-width: 320px) {
    font-size: 1.4rem;
  }
}

.error-info-text.span {
  margin: 0;
}

.sorry-illustrator {
  @include set-block-image(20rem, 20rem);
}

.error-code-box {
  display: inline-block;
  align-self: center;
  justify-self: center;
  width: 20rem;

  background: var(--error-box-bg);
  color: var(--error-box-txt);

  font-weight: bold;

  margin-top: 2.2rem;
  padding: 1rem 1.6rem;

  cursor: move;

  overflow-x: scoll;
  overflow-y: hidden;
}

.error-code-box::-webkit-scrollbar {
  display: none;
}

//  === DARK MODE ===
.error-compo.dark {
  .sorry-illustrator {
    content: url("../assets/Feeling\ sorry-pana-light.svg");
  }
}
