@import "./../../../styles/main.scss";

.main-logo-cont {
  @include set-block-image(2.5rem, 10rem);
  .header-logo {
    @include set-block-image;
  }
}

.active-search {
  .main-logo-link-cont,
  .dummy.search-btn,
  .switch,
  .menu-items {
    display: none;
  }
  .back-arrow {
    display: block;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    margin-right: 2rem;
  }

  .search-box-form {
    display: flex;
    margin: 0;
    max-width: 50rem;
  }
}

.dark.active-search {
  .back-arrow-icon {
    content: url("../../../assets/arrow_back_white.svg");
  }
  .back-arrow {
    cursor: pointer;
  }
  .main-logo-link-cont,
  .dummy.search-btn,
  .switch,
  .menu-items {
    display: none;
  }
  .search-box-form {
    display: flex;
    margin: 0;
    max-width: 50rem;
  }
}

header {
  border-bottom: 1px solid rgba($color: $black, $alpha: 0.1);
  padding: 1.5rem 4rem;
  position: fixed;
  // top: 0;
  width: 100%;
  z-index: 10000;
  background: $white;
  @include set-flex(row, space-between, center);

  .back-arrow {
    display: none;
  }

  .search-box-form {
    display: flex;
    flex-grow: 1;
    margin: 0 3rem 0 1rem;
    max-width: 630px;

    .search-input {
      width: 100%;
      font-size: inherit;
      padding: 0px 1rem;
      border: 1px solid rgba($color: $black, $alpha: 0.2);
      outline: none;
      height: 3rem;
      border-right: none;

      &:focus {
        border: 1px solid $input-focus-border;
      }
    }

    .search-btn {
      display: flex;
      align-items: center;
      padding: 1rem 2rem;
      height: 3rem;
      background: $light-gray;
      border: 1px solid rgba($color: $black, $alpha: 0.2);
      outline: none;
      cursor: pointer;
      img {
        @include set-block-image(2.2rem, 2.2rem);
      }
    }
  }
  .dummy.search-btn {
    display: none;
  }
  .dropdown:hover .dropdown-content {
    display: block;
    cursor: pointer;
    box-shadow: none;
    border-bottom: 1px solid $dark-channel-text;
  }
  .menu-items {
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: $white;
      min-width: 2rem;
      right: 1.5%;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
    }

    .sign-out-btn {
      font-family: inherit;
      outline: none;
      font-size: 1.6rem;
      padding: 1.8rem 0.8rem 0.8rem 0.8rem;
      background: none;
    }

    img {
      @include set-block-image(4rem, 4rem);
      border-radius: 50%;
    }
  }
  .welcome-text {
    color: $dark-gray;
  }
}

header.dark {
  background: $dark-header-bg;

  .header-logo {
    content: url("../../../assets/youtube-dark.png");
  }

  .search-input {
    background: $dark-input-bg;
    color: rgba($color: $white, $alpha: 0.88);
    border: 1px solid $dark-input-border;
  }

  .search-btn {
    background: $dark-search-btn-bg;
    // @include set-small-screen {
    //   padding: 5px;
    //   border: 1px solid $white;
    //   border-radius: 50%;
    // }
    .search-btn-icon {
      content: url("../../../assets/search_icon_white.svg");
      color: rgba($color: $white, $alpha: 0.88);
      // @include set-small-screen {
      //   @include set-block-image(4rem, 4rem);
      // }
    }
  }
  .dummy.search-btn {
    @include set-small-screen {
      display: block;
      padding: 5px;
      border: 1px solid $white;
      border-radius: 50%;
    }
    .search-btn-icon {
      content: url("../../../assets/search_icon_white.svg");
      color: rgba($color: $white, $alpha: 0.88);
      @include set-small-screen {
        @include set-block-image(1.5rem, 1.5rem);
      }
    }
  }
  .welcome-text {
    color: rgba($color: $white, $alpha: 0.88);
  }

  .sign-out-btn {
    background: $dark-header-bg;
    color: $white;
  }
}

.switch {
  position: relative;
  display: inline-block;
  min-width: 33px;
  height: 18px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 2px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .theme-input:checked + .slider {
    background-color: #000000;
    border: 1px solid $dark-google-blue;
    // background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
    // background-color: #2196f3;
  }

  .theme-input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
  }

  .theme-input:checked + .slider:before {
    -webkit-transform: translateX(13.5px);
    -ms-transform: translateX(13.5px);
    transform: translateX(13.5px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 18px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}

@include set-large-screen {
  .welcome-text {
    display: none;
  }
  header .search-box-form,
  header.dark .search-box-form {
    margin: 0rem 0rem 0rem 2rem;
  }
  .switch {
    margin: 0 2rem;
  }
}

@include set-small-screen {
  header .search-box-form,
  header.dark .search-box-form {
    display: none;
    // .search-btn {
    //   margin-left: auto;
    //   background: none;
    //   padding: 5px;
    //   border-radius: 50%;

    //   .search-btn-icon {
    //     @include set-block-image(2rem, 2rem);
    //   }
    // }
  }
  header .dummy.search-btn {
    display: block;
    margin-left: auto;
    background: none;
    padding: 5px;
    border: 1px solid $black;
    border-radius: 50%;

    .search-btn-icon {
      @include set-block-image(1.5rem, 1.5rem);
    }
  }
}

@media only screen and (max-width: 520px) {
  header,
  header.dark {
    padding: 1.5rem 2rem;
  }
}

@media only screen and (max-width: 420px) {
  header .header-logo,
  header.dark .header-logo {
    @include set-block-image(2.2rem, 9rem);
  }
}
@media only screen and (max-width: 300px) {
  header .main-logo-cont .header-logo,
  header.dark .header-logo {
    content: url("./../../../assets/youtube_social_icon_red.png");
    @include set-block-image(2.2rem, 4rem);
  }
}
