@import "../../styles/main.scss";

.whole-video-wrapper {
  padding: 3rem;
  padding-top: 10rem;
  min-height: 100vh;
  background: var(--videos-grid-bg);
  overflow: hidden;

  @media only screen and (max-width: 450px) {
    padding: 10rem 0 0 0;
  }
}

.grid-cont {
  max-width: 104rem;
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, minmax(auto, 1fr));
  grid-template-rows: 1fr;
  grid-template-areas: ". .";
  grid-gap: 3rem;

  @include set-medium-screen {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
  }
}

.main-video-player-cont {
  // height: 32rem;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.main-video-cont {
  grid-column-start: 1;
  grid-column-end: 4;

  .main-video-title {
    margin: 2rem 0 0;
    font-weight: 500;
    font-size: 1.8rem;
    color: var(--invert-primary);

    @include set-small-screen {
      font-size: 1.6rem;
    }
  }

  .main-video-channel-details {
    border-top: 1px solid var(--dull-box-border);
    border-bottom: 1px solid var(--dull-box-border);
  }

  .main-video-upload-date {
    color: var(--dull-text-color);
    margin: 0.2rem 0 1.5rem;
    font-size: 1.4rem;
  }

  .video-channel-name {
    margin: 2rem 0;
    width: fit-content;
    padding: 1rem 1.6rem;
    border-radius: 0.2rem;

    background: #ffc8ba;
    color: #880000;
    font-weight: 550;

    @include set-small-screen {
      font-size: 1.4rem;
      padding: 0.5rem 1rem;
    }
  }

  .video-description {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    font-size: 1.4rem;
    font-family: "Roboto", sans-serif;
    -webkit-box-orient: vertical;
    color: var(--invert-primary);
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0.5rem;
    white-space: pre-wrap;

    @include set-small-screen {
      font-size: 1.3rem;
    }
  }

  .video-description.complete {
    display: block;
    white-space: pre-wrap;

    & + .show-more-btn span {
      display: none;
    }

    & + .show-more-btn::after {
      content: "SHOW LESS";
    }
  }

  .show-more-btn {
    border: none;
    background: none;
    color: var(--show-more-text-color);
    font-size: 1.3rem;
    font-weight: 550;
    line-height: 2rem;
    margin-bottom: 2rem;
    cursor: pointer;
  }

  @include set-medium-screen {
    grid-area: 1 / 1 / 4 / 6;
  }

  @media only screen and (max-width: 450px) {
    .main-video-player-cont {
      width: 95%;
      margin: 0 auto;
    }

    .main-video-title,
    .main-video-upload-date {
      padding: 0rem 2rem;
    }

    .main-video-title {
      margin: 1rem 0 0;
    }

    .main-video-upload-date {
      margin: 0.2rem 0 0;
    }

    .main-video-channel-details {
      margin: 0 2rem;
    }
    .video-channel-name {
      margin-bottom: 1rem;
    }
  }
}

.main-video-player {
  // @include set-block-image;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--thumbnail-bg);
}

.next-videos-cont {
  grid-column-start: 4;
  grid-column-end: 6;

  .suggestion-text {
    width: 100%;
    background: var(--header-bg);
    border: 1px solid var(--suggestion-border);
    margin-bottom: 1.2rem;
    box-sizing: border-box;
    padding: 0.8rem 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.1rem;
    color: var(--suggestion-text-color);

    &:hover {
      color: var(--invert-primary);
      font-weight: bold;
    }
  }

  .result-video-container {
    margin-bottom: 1.2rem;

    .video-thumbnail {
      @include set-block-image(100%, 100%);

      min-height: 0;
      min-width: 0;
    }

    .video-thumbnail-image {
      // @include set-block-image(10rem, 17rem);
      @include set-block-image(100%, 100%);

      min-height: 0;
      min-width: 0;

      @include set-medium-screen {
        // @include set-block-image(20rem, 35rem);
        @include set-block-image;
        min-width: 19rem;
        min-height: 13rem;
      }
    }

    .results-video-author-details {
      margin-left: 1rem;

      .video-metadata {
        order: 3;
        color: var(--dull-text-color);
      }

      .channel-details {
        order: 2;
        margin: 0;
        color: var(--dull-text-color);
        .channel-logo {
          display: none;
        }
      }

      @include set-medium-screen {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-left: 1.3rem;
        font-size: 1.2rem;
        flex: 1 1 auto;
        width: 75%;
        position: static;

        & > * {
          margin: 0;
        }

        .video-metadata {
          order: 2;
        }

        .channel-details {
          margin: 1.2rem 0 1.2rem 0;
          .channel-logo {
            position: static;
            @include set-block-image(2.4rem, 2.4rem);
          }
          .video-channel-name {
            font-size: 1.2rem;
          }
        }

        .description {
          display: block;
          order: 4;
          margin-top: 0.6rem;
          color: var(--dull-text-color);
        }
      }

      @media only screen and (max-width: 550px) {
        width: 100%;
        margin: 1.3rem 0rem;
        position: relative;

        .channel-details {
          display: block;
          margin: 0;
        }

        .video-title,
        .video-metadata,
        .channel-details .video-channel-name {
          margin-left: 4.2rem;
        }

        .channel-details .channel-logo {
          position: absolute;
          @include set-block-image(3.5rem, 3.5rem);
          top: 5%;
          left: 0%;
        }

        .video-title {
          order: 1;
        }

        .video-metadata {
          order: 3;
          margin-top: 0.1rem;
        }
        .channel-details .video-channel-name {
          order: 2;
          margin-top: 0.2rem;
        }
      }
    }

    .video-title {
      font-size: 1.4rem;
      line-height: 1.6rem;
      text-decoration-thickness: auto;
      font-weight: 500;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      order: 1;
    }

    .description {
      display: none;
    }

    @include set-medium-screen {
      flex-direction: row;
      // max-width: 75rem;
      font-size: 1.6rem;
      max-width: 100%;
      margin: 1.6rem 0 2.2rem;

      .video-thumbnail {
        flex: 0 0 50%;
        @include set-flex;
        align-self: stretch;
      }
    }

    @media only screen and (max-width: 550px) {
      flex-direction: column;

      & > * {
        width: 100%;
        margin: 0 auto;
      }

      .results-video-author-details {
        .description {
          display: none;
        }
      }
    }
  }

  .error-msg-cont {
    padding: 3rem 0;
  }

  @include set-medium-screen {
    grid-area: 4 / 1 / 6 / 6;
  }

  @media only screen and (max-width: 450px) {
    padding: 0rem 1.5rem;
  }
}

// === SKELETON (SUGGESTION-VIDEOS) STYLING ===
.next-videos-cont {
  .search-results-video-container-skeleton {
    padding: 0;
  }
  .skeleton-search-results {
    flex-direction: row;
    margin: 0.5rem 0;

    @include set-medium-screen {
      .skeleton.thumbnail {
        flex: 0 0 50%;
        @include set-block-image(100%, 100%);
        min-height: 13rem !important;
        min-width: 19rem !important;
      }

      .skeleton-video-author-details {
        .skeleton.title {
          width: 75%;
        }
        .skeleton.meta-text {
          width: 30%;
        }

        .skeleton-channel-details {
          align-items: flex-start;
          .skeleton.text {
            margin: 0 1.5rem !important;
            align-self: center;
          }
          .skeleton.avatar {
            display: block;
            position: static;
            margin: 0;
            @include set-block-image(3.5rem, 3.5rem);
          }

          & + .skeleton.text {
            display: block;
          }
        }
      }
    }

    @media only screen and (max-width: 550px) {
      flex-direction: column;
      width: 100%;
      // height: 35rem;
      max-width: 100%;
      margin: 1.6rem 0;

      .skeleton.thumbnail {
        width: 100% !important;
        flex-basis: 22rem;
        height: 100% !important;
      }

      .skeleton-video-author-details {
        height: 100%;
        position: relative;
        margin: 0;

        .skeleton.title,
        .skeleton.meta-text,
        .skeleton-channel-details .skeleton.text {
          margin-left: 5.3rem;
        }

        .skeleton-channel-details {
          .skeleton.avatar {
            position: absolute;
            @include set-block-image(4.5rem, 4.5rem);
            top: 12%;
          }

          .skeleton.text {
            margin: 0 0 0 5.3rem !important;
          }
        }

        .skeleton-channel-details + .skeleton.text {
          display: none;
        }
      }
    }

    @media only screen and (max-width: 350px) {
      .skeleton.thumbnail {
        flex-basis: 16rem;
      }
    }
  }
  .skeleton.thumbnail {
    min-height: 100px !important;
    min-width: 170px !important;
    display: block;
    height: 10rem !important;
    width: 17rem !important;
    margin: 0;
  }
  .skeleton-video-author-details {
    position: static;
    margin: 0 0 0 1.3rem;
    .skeleton {
      margin: 1rem 0 1rem 0;
    }
    .skeleton.title {
      width: 90%;
    }
    .skeleton.text {
      display: none;
    }
    .skeleton.meta-text {
      width: 50%;
    }
    .skeleton-channel-details {
      position: static;

      .skeleton.text {
        display: block;
        margin: 0;
        width: 40%;
      }
    }
    .skeleton.avatar {
      display: none;
    }
  }

  @media only screen and (max-width: 850px) {
    .skeleton-video-author-details {
      .skeleton.title {
        width: 120%;
      }
    }
  }
}

.video-screen-skeleton {
  .skeleton.thumbnail {
    min-height: 31rem;
    & + .skeleton.meta-text {
      margin-top: 2rem;
      margin-bottom: 1.3rem;
      width: 30%;
      height: 1.2rem;
    }
  }

  .video-screen-details-skeleton {
    margin-top: 1.5rem;

    .skeleton.text {
      margin: 0.5rem 0;
    }
  }

  @include set-medium-screen {
    .skeleton.thumbnail {
      min-height: 25rem;
    }
  }

  @media only screen and (max-width: 450px) {
    padding: 0 1.5rem;

    .skeleton.thumbnail {
      min-height: 20rem;
    }
  }
}
