@import "../../styles/main.scss";

.whole-video-wrapper {
  padding: 3rem;
  padding-top: 10rem;
  min-height: 100vh;
  background: $videos-grid-bg;
}

.grid-cont {
  max-width: 104rem;
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, minmax(auto, 1fr));
  grid-template-rows: 1fr;
  grid-template-areas: ". .";
  grid-gap: 3rem;
  border: 1px solid rgb(5, 48, 241);

  @include set-medium-screen {
    grid-template-rows: auto auto;
    grid-template-columns: none;
  }
}

.main-video-player-cont {
  height: 36rem;
  border: 2px solid black;
  grid-column-start: 1;
  grid-column-end: 4;
}

.main-video-player {
  @include set-block-image;
}

.next-videos-cont {
  border: 2px solid crimson;
  grid-column-start: 4;
  grid-column-end: 6;
}
