@import "../../../styles/main.scss";

.result-video-container {
  @include set-flex(row, flex-start, flex-start);

  .video-thumbnail-image {
    @include set-block-image(20rem, 35rem);
    background: $thumbnail-bg;
  }

  @include set-medium-screen {
    @include set-flex(column, flex-start, flex-start);
    max-width: 35rem;
    // margin: 0 auto;

    .results-video-author-details {
      position: relative;
      margin-top: 0.8rem;
      width: 30rem;
    }

    .channel-details {
      margin: 0;
      margin-left: 5rem;
      order: 2;
    }

    .video-title {
      font-size: 1.4rem;
      margin-top: 0.3rem;
      margin-left: 5.2rem;
      font-weight: bold;
    }

    .description {
      display: none;
    }

    .channel-details .channel-logo {
      @include set-block-image(4rem, 4rem);
      position: absolute;
      top: 10%;
      left: 1%;
    }

    .video-metadata {
      order: 3;
      margin-left: 5rem;
    }
  }

  @media only screen and (max-width: 402px) {
    max-width: 25rem;
    .video-thumbnail-image {
      @include set-block-image(15rem, 29rem);
    }

    .channel-details .channel-logo {
      @include set-block-image(3rem, 3rem);
      top: 17%;
    }

    .results-video-author-details {
      width: 22rem;

      & > * {
        margin-left: 4.3rem;
      }
    }
  }

  @media only screen and (max-width: 350px) {
    .video-thumbnail-image {
      @include set-block-image(15rem, 25rem);
    }
  }

  @media only screen and (max-width: 290px) {
    max-width: 22rem;
    .video-thumbnail-image {
      @include set-block-image(15rem, 22rem);
    }
  }
}

.result-video-container.dark {
  .video-title {
    color: $white;
  }

  .video-thumbnail-image {
    background: $dark-thumbnail-bg;
  }

  .results-video-author-details {
    color: $dark-channel-text;
  }
}
