@import "../../../styles/main.scss";

.results-video-author-details {
  @include set-flex(column, center, flex-start);
  margin-left: 2rem;
  font-size: 1.2rem;

  .video-title {
    font-size: 1.8rem;
    width: 75%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .channel-details {
    @include set-flex;
    margin: 2rem 0 1.5rem;

    .channel-logo {
      @include set-block-image(2.4rem, 2.4rem);
      border-radius: 50%;
      margin-right: 1rem;
    }
  }

  a {
    color: var(--black);
    text-decoration: none;
  }

  .description {
    width: 60%;
    p {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  @include set-medium-screen {
    margin: 0;
  }
}
