@import "../../../styles/main.scss";

.google-svg {
  @include set-block-image(2.4rem, 2.4rem);
  background: $white;
}

.google-logo-cont {
  padding: 0.8rem;
  background: $white;
  margin: 0.1rem;
  border-radius: 1px;
}

.sign-in {
  width: 20rem;
  background-color: $dark-google-blue;
  @include set-flex(row, space-between, center);
  color: $white;
  cursor: pointer;
  border: 1px solid transparent;

  &:hover {
    box-shadow: rgba($dark-google-blue, 0.3) 0px 0px 3px 3px;
  }
}

.sign-in-txt {
  margin-right: 1rem;
}
